// COLORS
:root {
  --black: #000;
  --white: #fff;
  --dark-gray: #8E8E8E;
  --green: #30BF60;
  --light-green: #2CBE60;
  --red: #FF0320;
  --yellow: #F79E1B;
  --dark-blue: #0091D9;
  --blue: #4CB8BF;
  --gray: #BEBEBE;
  --light-gray: #E5E5E5;
  --medium-gray: #999999;
  --dark: #1A1A1A;
  --dark-black: #1F1F1F;
  --light: #F3F3F3;
  --light-white: #f2f4f7;
  --white-grey: #f6f9fc;
  --black-gray: #929497;
  --graphite: #363636;
  --deep-white: #F5F5F5;
  --black-mask: #090909;
  --gray-tabs: #D9D9D9;

}
